body{
    background-color: white);
    font-family: cursive;
    font-size: 20px;
    color: #16b9b9;
}
.pag1{ 
    padding-top: 10%;
    margin: 0 auto;
}
.pie{
    background-color: rgb(5, 17, 1);
    text-align: center;
    padding-bottom: 15%;
}
h1{
    text-align: center;
}
p{
    color: #33cccc;;
}
.formulario{
    width: 70%;
    padding-left: 2%;
    border-bottom: 0.1rem solid rgba(46, 54, 170, 0.342);
    border-top: 0.1rem solid rgba(46, 54, 170, 0.342);
    border-left: 0.1rem solid rgba(46, 54, 170, 0.342);
    border-right: 0.1rem solid rgba(46, 54, 170, 0.349);
    color: rgba(46, 54, 170, 0.37);
}
