body{
    background-color: white);
    font-family: cursive;
    font-size: 20px;
    color: #16b9b9;
}
.pag1{ 
    padding-top: 10%;
    margin: 0 auto;
}
.pie{
    background-color: rgb(5, 17, 1);
    text-align: center;
    padding-bottom: 15%;
}
h1{
    text-align: center;
}
p{
    color: #33cccc;;
}